<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrs.blog.dao.AdminDao" >

	<!-- 获取一级菜单列表 -->
	<select id="getFirstMenuList" parameterType="pm" resultType="pm">
		select
			a.menu_id,
			a.parent_id,
			a.menu_name,
			a.menu_url,
			a.menu_icon,
			a.sort_num
		FROM 
			blog_menu a
		WHERE
			a.parent_id = '' OR a.parent_id is NULL
		ORDER BY
			a.sort_num ASC,a.menu_id ASC
	</select>
	
	<!-- 获取二级菜单列表 -->
	<select id="getSecondMenuList" parameterType="pm" resultType="pm">
		select
			a.menu_id,
			a.parent_id,
			a.menu_name,
			a.menu_url,
			a.menu_icon,
			a.sort_num
		FROM 
			blog_menu a
		WHERE
			a.parent_id != '' AND a.parent_id is NOT NULL
			<if test="is_hot != null and is_hot != ''">
				and a.is_hot=#{is_hot}
			</if>
		ORDER BY
			a.sort_num ASC,a.menu_id ASC
	</select>
	
</mapper>