<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrs.blog.dao.NoticeDao" >
	
	<!-- 获取消息列表 -->
	<select id="getNoticelistPage" parameterType="page" resultType="pm">
		SELECT
			a.notice_id,
			a.table_id,
			a.is_read,
			a.create_time,
			a.from_user_id,
			b.`name`,
			<if test="pm.notice_type == 'praise'">
			c.title,
			</if>
			b.img
		from 
			blog_notice a
		LEFT JOIN
			blog_user b
		ON
			a.from_user_id=b.user_id
			<if test="pm.notice_type == 'praise'">
				left join
					blog_article c
				on
					c.article_id=a.table_id
			</if>
		WHERE
			a.user_id=#{pm.user_id}
			<if test="pm.notice_type != null and pm.notice_type != ''">
				and a.notice_type=#{pm.notice_type}
			</if>
		ORDER BY
			is_read ASC
	</select>
	
	<select id="getLetterDetailList" parameterType="pm" resultType="pm">
		SELECT
			a.letter_id,
			a.parent_id,
			a.user_id,
			a.from_user_id,
			a.content,
			a.create_time,
			b.`name`,
			b.img
		from 
			blog_letter a
		LEFT JOIN
			blog_user b
		ON
			a.from_user_id=b.user_id
		WHERE
			(parent_id=#{table_id} OR letter_id=#{table_id}) AND (a.user_id=#{user_id} OR a.from_user_id=#{user_id})
	</select>
	
	<insert id="saveLetter" parameterType="pm">
		insert into blog_letter(
			parent_id,
			user_id,
			from_user_id,
			content,
			create_time
		) values (
			#{parent_id},
			#{from_user_id},
			#{user_id},
			#{content},
			#{create_time}
		)
	</insert>
	
</mapper>