<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrs.blog.dao.PublicDao" >
	<!-- 新增关注-->
	<insert id="saveConcern" parameterType="pm">
		insert into blog_concern(
			user_id,
			beconcern_user_id
		) values(
			#{user_id},
			#{beconcern_user_id}
		)
	</insert>
	
	<!-- 新增浏览记录-->
	<insert id="saveBrowse" parameterType="pm">
		insert into blog_browse(
			table_id
			<if test="user_id != null and user_id != ''">
				,user_id
			</if>
		) values(
			#{table_id}
			<if test="user_id != null and user_id != ''">
				,#{user_id}
			</if>
		)
	</insert>
	
	<!-- 新增评论记录-->
	<insert id="saveComment" parameterType="pm" useGeneratedKeys="true" keyProperty="comment_id">
		insert into blog_comment(
			table_id,
			content,
			reply_user_id,
			create_time
			<if test="user_id != null and user_id != ''">
				,user_id
			</if>
			<if test="parent_id != null and parent_id != ''">
				,parent_id
			</if>
		) values(
			#{table_id},
			#{content},
			#{reply_user_id},
			#{create_time}
			<if test="user_id != null and user_id != ''">
				,#{user_id}
			</if>
			<if test="parent_id != null and parent_id != ''">
				,#{parent_id}
			</if>
		)
	</insert>
	
	
	<!-- 新增点赞记录-->
	<insert id="savePraise" parameterType="pm">
		insert into blog_praise(
			table_id,
			table_type
			<if test="user_id != null and user_id != ''">
				,user_id
			</if>
		) values(
			#{table_id},
			#{table_type}
			<if test="user_id != null and user_id != ''">
			,#{user_id}
			</if>
		)
	</insert>
	
	
	<!-- 新增留言记录-->
	<insert id="saveLeaveWord" parameterType="pm">
		insert into blog_leaveword(
			content,
			<if test="user_id != null and user_id != ''">
			user_id,
			</if>
			ip
		) values(
			#{content},
			<if test="user_id != null and user_id != ''">
			#{user_id},
			</if>
			#{ip}
		)
	</insert>
	
	<!-- 是否重复点赞 -->
	<select id="repeatPraise" parameterType="pm" resultType="pm">
		select praise_id from blog_praise where table_id=#{table_id} and user_id=#{user_id}
	</select>
	
	<!-- 是否重复关注 -->
	<select id="repeatConcern" parameterType="pm" resultType="pm">
		select concern_id from blog_concern where beconcern_user_id=#{beconcern_user_id} and user_id=#{user_id}
	</select>
	
	<!-- 获取楼主评论 -->
	<select id="getCommentlistPage" parameterType="page" resultType="pm">
		SELECT 
			a.comment_id,
			a.parent_id,
			a.table_id,
			a.user_id,
			a.reply_user_id,
			a.content,
			a.create_time,
			a.praise_num,
			b.`name`,
			b.img
		from 
			blog_comment a 
		LEFT JOIN
			blog_user b
		ON
			a.user_id = b.user_id
		WHERE
			table_id=#{pm.table_id} and (a.parent_id is null or a.parent_id='')
		order by
			a.create_time asc,a.praise_num desc
	</select>
	
	<!-- 获取回复楼主的 -->
	<select id="getCommentlist" parameterType="pm" resultType="pm">
		SELECT 
			a.comment_id,
			a.parent_id,
			a.table_id,
			a.user_id,
			a.reply_user_id,
			a.content,
			a.create_time,
			a.praise_num,
			b.`name`,
			b.img,
			c.name as reply_user_name
		from 
			blog_comment a 
		LEFT JOIN
			blog_user b
		ON
			a.user_id = b.user_id
		left join
			blog_user c
		on
			a.reply_user_id=c.user_id
		WHERE
			table_id=#{table_id} and (a.parent_id is not null or a.parent_id != '')
		order by
			a.praise_num desc,a.create_time asc
	</select>
	
	<!-- 获取文章作者ID -->
	<select id="getArticleAutherId" parameterType="pm" resultType="pm">
		SELECT
			a.article_id,
			a.user_id
		from 
			blog_article a
		where
			a.article_id=#{table_id} and isdel=0
	</select>
	
	
	<!-- 判断是否是楼层评论id -->
	<select id="checkCommentId" parameterType="pm" resultType="pm">
		SELECT
			a.comment_id,
			a.parent_id,
			a.user_id
		from 
			blog_comment a
		where
			a.comment_id=#{comment_id} and a.user_id=#{user_id}
	</select>
	
	
	<select id="getJokelist" parameterType="pm" resultType="pm">
		SELECT 
			joke_id,
			content 
		FROM 
			blog_joke
	</select>
	
	
	<!-- 更新浏览数 -->
	<update id="updateBrowseNum" parameterType="pm" >
		update blog_article
				set browse_num = browse_num+1
		where
			article_id=#{table_id}
	</update>
	
	<!-- 删除点赞记录 -->
	<delete id="delPraise" parameterType="pm">
		delete from blog_praise where table_id=#{table_id} and user_id=#{user_id}
	</delete>
	
	<!-- 取消关注 -->
	<delete id="delConcern" parameterType="pm">
		delete from blog_concern where beconcern_user_id=#{beconcern_user_id} and user_id=#{user_id}
	</delete>
	
	<!-- 删除评论记录 -->
	<delete id="delComment" parameterType="pm">
		DELETE FROM
 			blog_comment
		where
			(user_id=#{user_id} AND comment_id=#{comment_id}) 
			<if test="parent_id != null and parent_id != ''">
				OR parent_id=#{parent_id}
			</if>
			
	</delete>
	
	
	<!-- 更新浏览数 -->
	<update id="updatePraiseNum" parameterType="pm" >
		update 
		<if test="table_type == 'article'">
			blog_article
		</if>
		
		<if test="table_type == 'comment'">
			blog_comment
		</if>
			<if test="praise_type == 'add'">
				set praise_num = praise_num+1
			</if>
			<if test="praise_type == 'sub'">
				set praise_num = praise_num-1
			</if>
		where
			<if test="table_type == 'article'">
			article_id=#{table_id}
			</if>
			<if test="table_type == 'comment'">
			comment_id=#{table_id}
			</if>
	</update>
	
	<!-- 更新评论数 -->
	<update id="updateCommentNum" parameterType="pm" >
		update blog_article
			<if test="comment_type == 'add'">
				set comment_num = comment_num+1
			</if>
			<if test="comment_type == 'sub'">
				set comment_num = comment_num-1
			</if>
		where
			article_id=#{table_id}
	</update>

	
</mapper>